body{
    background-color: #1a1a1a;
    background-size: cover;
}
.navigation{
    float: right;
    list-style: none;
    margin-top: 10px;
}
.navigation li{
    display: inline-block;
}
.navigation li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 16px;
    color: white;
}
h1{
    color: white;
    text-align: center;
}
div{
    background-color: #1a1a1a;
    width: 100px;
    padding: 50px;
    margin: 50px;
    color: white;
    font-size: 50px;
}
img{
    margin-top: -900px;
    margin-left: 900px;
;
}

body{
    font-family: Cambria;
}